@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px :      Phone
600 -900px :     Tablet
900 - 1200px :   Tablet Landscape
1200 - 1800px :  Normal Style
1800 + :         Big Desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };
  }

  @if $breakpoint == tab-landscape {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == tab {
    @media (max-width: 56.25em) { @content };
  }
  
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; 
  }
}

// ORDER: Base > typography > general layout > grid > page layout > components
