$color-primary: #00bb5d;
$color-primary-light: #54c767;
$color-primary-dark: #008357;

$color-grey-light-1:#f7f7f7;

$color-secondary-light: #fcc01e;
$color-secondary-dark: #ff6b1b;

$color-tertiary-light: #5ebdfc;
$color-tertiary-dark: #4620cc;
// Font
$default-font-size: 1.6rem;

$color-black: black;
$color-grey-dark: rgb(105, 105, 105);
$color-grey-dark2: #999;
$color-grey-dark3: #333;
$color-white: #fff;



