.col-1-of-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-landscape) {
    margin: auto;
    display: grid;
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }
  @include respond(tab) {display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  @include respond(phone) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  

}

.feature-box {
  width: 22%;
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  backface-visibility: hidden;

  @include respond(tab-landscape) {
    width: 100%;
    margin-bottom: 5rem;
  }
  @include respond(tab) {
    width: 80%;
    margin-bottom: 5rem;
  }
  
  @include respond(tab) {
    width: 70%;
    margin-bottom: 5rem;
  }
  

  &-icon {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8));
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}